In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\surya\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\surya\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\surya\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import os
import pandas as pd
import glob

files = glob.glob(r"C:\code\Amazon_India_Analytics\data\raw\*.csv")
print("Total files found:", len(files))

for f in files:
    if os.path.getsize(f) == 0:
        print("‚ùå Empty file:", f)

Total files found: 11

In [3]:
df_list = []
for file in files:
    try:
        if os.path.getsize(file) > 0:   # skip empty files
            df = pd.read_csv(file)
            df["source_file"] = os.path.basename(file)   # optional
            df_list.append(df)
        else:
            print("‚ö†Ô∏è Skipping empty file:", file)
    except Exception as e:
        print("‚ö†Ô∏è Error reading", file, ":", e)

merged_df = pd.concat(df_list, ignore_index=True)
merged_df.to_csv(r"C:\code\Amazon_India_Analytics\amazon_sales_2015_2025.csv", index=False)

print("‚úÖ Merge complete")

‚úÖ Merge complete

In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\code\Amazon_India_Analytics\data\raw\amazon_sales_2015_2025.csv")

print(df)

                transaction_id  order_date         customer_id   product_id  \
0            TXN_2015_00000001  2015-01-25  CUST_2015_00003884  PROD_000021
1            TXN_2015_00000002  2015-01-05  CUST_2015_00011709  PROD_000055
2            TXN_2015_00000003  2015-01-24  CUST_2015_00004782  PROD_000039
3            TXN_2015_00000004  2015-01-28  CUST_2015_00008105  PROD_000085
4            TXN_2015_00000005  2015-01-31  CUST_2015_00002955  PROD_000055
...                        ...         ...                 ...          ...
1127604  TXN_2025_00019019_DUP  2025-04-07  CUST_2022_00004500  PROD_000136
1127605  TXN_2025_00053859_DUP  09-10-2025  CUST_2025_00013666  PROD_000527
1127606  TXN_2025_00030006_DUP  2025-06-29  CUST_2025_00011941  PROD_000839
1127607  TXN_2025_00066716_DUP  2025-11-21  CUST_2025_00000199  PROD_001581
1127608  TXN_2025_00039367_DUP  2025-07-26  CUST_2025_00019685  PROD_001191

                                 product_name     category  subcategory  \
0                Samsung Galaxy S6 16GB Black  Electronics  Smartphones
1                OnePlus OnePlus 2 16GB White  Electronics  Smartphones
2            Samsung Galaxy Note 5 64GB Black  Electronics  Smartphones
3        Motorola Moto G (3rd Gen) 16GB Black  Electronics  Smartphones
4                OnePlus OnePlus 2 16GB White  Electronics  Smartphones
...                                       ...          ...          ...
1127604      Samsung Galaxy S7 Edge 16GB Blue  Electronics  Smartphones
1127605         Samsung Galaxy A50 64GB White  Electronics  Smartphones
1127606    Samsung Galaxy Note 21 256GB White  Electronics  Smartphones
1127607             ASUS Gaming 4GB RAM Black  Electronics      Laptops
1127608          Realme Realme C55 128GB Blue  Electronics  Smartphones

            brand original_price_inr  discount_percent  ...  \
0         Samsung          123614.29             27.91  ...
1         OnePlus           54731.86              0.00  ...
2         Samsung           97644.25             46.93  ...
3        Motorola          21,947.26              0.00  ...
4         OnePlus           54731.86              0.00  ...
...           ...                ...               ...  ...
1127604   Samsung           67658.04              0.00  ...
1127605   Samsung           19905.88             24.29  ...
1127606   Samsung           75655.18             30.26  ...
1127607      ASUS          125461.24              0.00  ...
1127608    Realme           15852.16              0.00  ...

             festival_name  customer_rating  return_status  order_month  \
0        Republic Day Sale              5.0      Delivered            1
1                      NaN              4.5      Delivered            1
2        Republic Day Sale              NaN      Delivered            1
3                      NaN              3.0      Delivered            1
4                      NaN              4.0      Delivered            1
...                    ...              ...            ...          ...
1127604                NaN              3.5      Delivered            4
1127605                NaN        3.5 stars      Delivered           10
1127606     Back to School              4.0      Delivered            6
1127607                NaN              4.5      Delivered           11
1127608                NaN              4.0      Delivered            7

         order_year order_quarter product_weight_kg is_prime_eligible  \
0              2015             1              0.19              True
1              2015             1              0.20              True
2              2015             1              0.17              True
3              2015             1              0.22              True
4              2015             1              0.20              True
...             ...           ...               ...               ...
1127604        2025             2              0.16              True
1127605        2025             4              0.20             False
1127606        2025             2              0.22              True
1127607        2025             4              2.57             False
1127608        2025             3              0.24              True

        product_rating            source_file
0                  4.7  amazon_india_2015.csv
1                  4.1  amazon_india_2015.csv
2                  3.3  amazon_india_2015.csv
3                  3.5  amazon_india_2015.csv
4                  4.1  amazon_india_2015.csv
...                ...                    ...
1127604            3.4  amazon_india_2025.csv
1127605            4.2  amazon_india_2025.csv
1127606            4.1  amazon_india_2025.csv
1127607            3.0  amazon_india_2025.csv
1127608            3.7  amazon_india_2025.csv

[1127609 rows x 35 columns]

In [7]:
print(df.shape)

(1127609, 35)

In [8]:
print(df.head())

      transaction_id  order_date         customer_id   product_id  \
0  TXN_2015_00000001  2015-01-25  CUST_2015_00003884  PROD_000021
1  TXN_2015_00000002  2015-01-05  CUST_2015_00011709  PROD_000055
2  TXN_2015_00000003  2015-01-24  CUST_2015_00004782  PROD_000039
3  TXN_2015_00000004  2015-01-28  CUST_2015_00008105  PROD_000085
4  TXN_2015_00000005  2015-01-31  CUST_2015_00002955  PROD_000055

                           product_name     category  subcategory     brand  \
0          Samsung Galaxy S6 16GB Black  Electronics  Smartphones   Samsung
1          OnePlus OnePlus 2 16GB White  Electronics  Smartphones   OnePlus
2      Samsung Galaxy Note 5 64GB Black  Electronics  Smartphones   Samsung
3  Motorola Moto G (3rd Gen) 16GB Black  Electronics  Smartphones  Motorola
4          OnePlus OnePlus 2 16GB White  Electronics  Smartphones   OnePlus

  original_price_inr  discount_percent  ...      festival_name  \
0          123614.29             27.91  ...  Republic Day Sale
1           54731.86              0.00  ...                NaN
2           97644.25             46.93  ...  Republic Day Sale
3          21,947.26              0.00  ...                NaN
4           54731.86              0.00  ...                NaN

   customer_rating  return_status  order_month  order_year order_quarter  \
0              5.0      Delivered            1        2015             1
1              4.5      Delivered            1        2015             1
2              NaN      Delivered            1        2015             1
3              3.0      Delivered            1        2015             1
4              4.0      Delivered            1        2015             1

  product_weight_kg is_prime_eligible product_rating            source_file
0              0.19              True            4.7  amazon_india_2015.csv
1              0.20              True            4.1  amazon_india_2015.csv
2              0.17              True            3.3  amazon_india_2015.csv
3              0.22              True            3.5  amazon_india_2015.csv
4              0.20              True            4.1  amazon_india_2015.csv

[5 rows x 35 columns]

In [9]:
print(df.tail())

                transaction_id  order_date         customer_id   product_id  \
1127604  TXN_2025_00019019_DUP  2025-04-07  CUST_2022_00004500  PROD_000136
1127605  TXN_2025_00053859_DUP  09-10-2025  CUST_2025_00013666  PROD_000527
1127606  TXN_2025_00030006_DUP  2025-06-29  CUST_2025_00011941  PROD_000839
1127607  TXN_2025_00066716_DUP  2025-11-21  CUST_2025_00000199  PROD_001581
1127608  TXN_2025_00039367_DUP  2025-07-26  CUST_2025_00019685  PROD_001191

                               product_name     category  subcategory  \
1127604    Samsung Galaxy S7 Edge 16GB Blue  Electronics  Smartphones
1127605       Samsung Galaxy A50 64GB White  Electronics  Smartphones
1127606  Samsung Galaxy Note 21 256GB White  Electronics  Smartphones
1127607           ASUS Gaming 4GB RAM Black  Electronics      Laptops
1127608        Realme Realme C55 128GB Blue  Electronics  Smartphones

           brand original_price_inr  discount_percent  ...   festival_name  \
1127604  Samsung           67658.04              0.00  ...             NaN
1127605  Samsung           19905.88             24.29  ...             NaN
1127606  Samsung           75655.18             30.26  ...  Back to School
1127607     ASUS          125461.24              0.00  ...             NaN
1127608   Realme           15852.16              0.00  ...             NaN

         customer_rating  return_status  order_month  order_year  \
1127604              3.5      Delivered            4        2025
1127605        3.5 stars      Delivered           10        2025
1127606              4.0      Delivered            6        2025
1127607              4.5      Delivered           11        2025
1127608              4.0      Delivered            7        2025

        order_quarter product_weight_kg is_prime_eligible product_rating  \
1127604             2              0.16              True            3.4
1127605             4              0.20             False            4.2
1127606             2              0.22              True            4.1
1127607             4              2.57             False            3.0
1127608             3              0.24              True            3.7

                   source_file
1127604  amazon_india_2025.csv
1127605  amazon_india_2025.csv
1127606  amazon_india_2025.csv
1127607  amazon_india_2025.csv
1127608  amazon_india_2025.csv

[5 rows x 35 columns]

In [10]:
print(df.describe())

       discount_percent  discounted_price_inr      quantity  subtotal_inr  \
count      1.127609e+06          1.127609e+06  1.127609e+06  1.127609e+06
mean       1.742035e+01          5.454134e+04  1.250063e+00  6.818740e+04
std        2.055377e+01          4.582480e+04  5.365034e-01  6.893407e+04
min        0.000000e+00          3.443300e+02  1.000000e+00  3.443300e+02
25%        0.000000e+00          2.278069e+04  1.000000e+00  2.521799e+04
50%        1.037000e+01          3.800119e+04  1.000000e+00  4.473182e+04
75%        2.841000e+01          7.410332e+04  1.000000e+00  8.852179e+04
max        7.000000e+01          4.207048e+05  3.000000e+00  1.262114e+06

       delivery_charges  final_amount_inr   order_month    order_year  \
count      1.037408e+06      1.127609e+06  1.127609e+06  1.127609e+06
mean       3.084611e-04      6.818740e+04  6.940627e+00  2.020637e+03
std        1.110782e-01      6.893407e+04  3.539183e+00  2.690906e+00
min        0.000000e+00      3.443300e+02  1.000000e+00  2.015000e+03
25%        0.000000e+00      2.521799e+04  4.000000e+00  2.019000e+03
50%        0.000000e+00      4.473182e+04  7.000000e+00  2.021000e+03
75%        0.000000e+00      8.852179e+04  1.000000e+01  2.023000e+03
max        4.000000e+01      1.262114e+06  1.200000e+01  2.025000e+03

       order_quarter  product_weight_kg  product_rating
count   1.127609e+06       1.127609e+06    1.127609e+06
mean    2.645922e+00       7.806976e-01    3.975245e+00
std     1.140795e+00       3.674216e+00    4.536469e-01
min     1.000000e+00       3.000000e-02    3.000000e+00
25%     2.000000e+00       1.800000e-01    3.600000e+00
50%     3.000000e+00       2.100000e-01    4.000000e+00
75%     4.000000e+00       2.400000e-01    4.400000e+00
max     4.000000e+00       4.426000e+01    4.800000e+00

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127609 entries, 0 to 1127608
Data columns (total 35 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1127609 non-null  object
 1   order_date              1127609 non-null  object
 2   customer_id             1127609 non-null  object
 3   product_id              1127609 non-null  object
 4   product_name            1127609 non-null  object
 5   category                1127609 non-null  object
 6   subcategory             1127609 non-null  object
 7   brand                   1127609 non-null  object
 8   original_price_inr      1127609 non-null  object
 9   discount_percent        1127609 non-null  float64
 10  discounted_price_inr    1127609 non-null  float64
 11  quantity                1127609 non-null  int64
 12  subtotal_inr            1127609 non-null  float64
 13  delivery_charges        1037408 non-null  float64
 14  final_amount_inr        1127609 non-null  float64
 15  customer_city           1127609 non-null  object
 16  customer_state          1127609 non-null  object
 17  customer_tier           1127609 non-null  object
 18  customer_spending_tier  1127609 non-null  object
 19  customer_age_group      992294 non-null   object
 20  payment_method          1127609 non-null  object
 21  delivery_days           1127609 non-null  object
 22  delivery_type           1127609 non-null  object
 23  is_prime_member         1127609 non-null  object
 24  is_festival_sale        1127609 non-null  object
 25  festival_name           349873 non-null   object
 26  customer_rating         785913 non-null   object
 27  return_status           1127609 non-null  object
 28  order_month             1127609 non-null  int64
 29  order_year              1127609 non-null  int64
 30  order_quarter           1127609 non-null  int64
 31  product_weight_kg       1127609 non-null  float64
 32  is_prime_eligible       1127609 non-null  object
 33  product_rating          1127609 non-null  float64
 34  source_file             1127609 non-null  object
dtypes: float64(7), int64(4), object(24)
memory usage: 301.1+ MB
None

In [13]:
print(df.columns)

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating', 'source_file'],
      dtype='object')

In [14]:
print(df.isnull().sum())

transaction_id                 0
order_date                     0
customer_id                    0
product_id                     0
product_name                   0
category                       0
subcategory                    0
brand                          0
original_price_inr             0
discount_percent               0
discounted_price_inr           0
quantity                       0
subtotal_inr                   0
delivery_charges           90201
final_amount_inr               0
customer_city                  0
customer_state                 0
customer_tier                  0
customer_spending_tier         0
customer_age_group        135315
payment_method                 0
delivery_days                  0
delivery_type                  0
is_prime_member                0
is_festival_sale               0
festival_name             777736
customer_rating           341696
return_status                  0
order_month                    0
order_year                     0
order_quarter                  0
product_weight_kg              0
is_prime_eligible              0
product_rating                 0
source_file                    0
dtype: int64

In [15]:
print("Duplicates:", df.duplicated().sum())
df = df.drop_duplicates()

Duplicates: 0

In [ ]:
# Question 1
import pandas as pd

# Load merged dataset
df = pd.read_csv(r"C:\code\Amazon_India_Analytics\data\raw\amazon_sales_2015_2025.csv")

# Function to parse multiple date formats
def parse_date(x):
    for fmt in ("%d/%m/%Y", "%d-%m-%y", "%Y-%m-%d"):
        try:
            return pd.to_datetime(x, format=fmt, errors="raise")
        except:
            continue
    return pd.NaT   # invalid date

# Apply cleaning
df["order_date"] = df["order_date"].apply(parse_date)

# Standardize format (YYYY-MM-DD as string, but keep NaT for invalid)
df["order_date"] = df["order_date"].dt.strftime("%Y-%m-%d")

# üëâ Just check first rows, don‚Äôt save yet
print(df["order_date"].head(20))

0     2015-01-25
1     2015-01-05
2     2015-01-24
3     2015-01-28
4     2015-01-31
5     2015-01-04
6     2015-01-27
7     2015-01-08
8     2015-01-18
9     2015-01-03
10    2015-01-25
11    2015-01-15
12    2015-01-26
13    2015-01-11
14    2015-01-08
15    2015-01-07
16    2015-01-25
17    2015-01-08
18    2015-01-06
19    2015-01-11
Name: order_date, dtype: object

In [ ]:
# Question 2
import pandas as pd
import numpy as np

# Example: already loaded dataset
# df = pd.read_csv(...)

def clean_price(value):
    if pd.isna(value):
        return np.nan
    value = str(value).strip()
    if "price" in value.lower():   # handles "Price on Request"
        return np.nan
    # remove currency symbols and commas
    value = value.replace("‚Çπ", "").replace(",", "").strip()
    # if empty after cleaning, set as NaN
    if value == "":
        return np.nan
    try:
        return float(value)
    except:
        return np.nan

df["original_price_inr"] = df["original_price_inr"].apply(clean_price)

# üëâ Check results
print(df["original_price_inr"].head(20))
print(df["original_price_inr"].describe())

0     123614.29
1      54731.86
2      97644.25
3      21947.26
4      54731.86
5     131194.65
6      86987.64
7      32169.01
8      40264.16
9      54731.86
10     88664.85
11     73967.02
12     72564.10
13    209875.55
14     45363.47
15     23075.71
16     23075.71
17    114096.63
18     69584.33
19     38884.19
Name: original_price_inr, dtype: float64
count    1.093979e+06
mean     8.280461e+04
std      4.110272e+05
min     -3.001027e+05
25%      2.881544e+04
50%      4.655045e+04
75%      9.424172e+04
max      3.337169e+07
Name: original_price_inr, dtype: float64

In [20]:
# Question 3
import pandas as pd
import numpy as np
import re

# Assume your ratings column is "customer_rating"

def clean_rating(value):
    if pd.isna(value):
        return np.nan
    
    val = str(value).strip().lower()
    
    # Case 1: "4 stars" ‚Üí extract number
    if "star" in val:
        num = re.findall(r"[\d\.]+", val)
        return float(num[0]) if num else np.nan
    
    # Case 2: "3/5" or "2.5/5.0" ‚Üí take numerator, scale to 5
    if "/" in val:
        parts = val.split("/")
        try:
            num = float(parts[0])
            denom = float(parts[1])
            if denom != 0:
                return round((num / denom) * 5, 1)  # normalize to 5
        except:
            return np.nan
    
    # Case 3: pure numeric string "5.0"
    try:
        num = float(val)
        if 1.0 <= num <= 5.0:   # only accept valid range
            return num
    except:
        return np.nan
    
    return np.nan

# Apply cleaning
df["customer_rating"] = df["customer_rating"].apply(clean_rating)

# üëâ Check results
print(df["customer_rating"].head(20))
print(df["customer_rating"].describe())

0     5.0
1     4.5
2     NaN
3     3.0
4     4.0
5     4.5
6     3.5
7     4.0
8     5.0
9     4.5
10    5.0
11    4.5
12    NaN
13    4.0
14    4.5
15    NaN
16    5.0
17    NaN
18    4.5
19    NaN
Name: customer_rating, dtype: float64
count    785913.000000
mean          4.310751
std           0.572489
min           3.000000
25%           4.000000
50%           4.500000
75%           5.000000
max           5.000000
Name: customer_rating, dtype: float64

In [21]:
# Question 4
import pandas as pd

# Example mapping for known variations
city_mapping = {
    "bangalore": "Bengaluru",
    "bengaluru": "Bengaluru",
    "bengluru": "Bengaluru",
    
    "mumbai": "Mumbai",
    "bombay": "Mumbai",
    "mumabi": "Mumbai",
    
    "delhi": "Delhi",
    "new delhi": "Delhi",
    "delhii": "Delhi",
    
    "kolkata": "Kolkata",
    "calcutta": "Kolkata"
}

def clean_city(value):
    if pd.isna(value):
        return None
    val = str(value).strip().lower()
    return city_mapping.get(val, val.title())  # map if found, else title case

# Apply cleaning
df["customer_city"] = df["customer_city"].apply(clean_city)

# üëâ Check unique values
print(df["customer_city"].unique()[:20])

['Mumbai' 'Allahabad' 'Kolkata' 'Ludhiana' 'Delhi' 'Lucknow' 'Jaipur'
 'Bhubaneswar' 'Ahmedabad' 'Bengaluru' 'Pune' 'Kochi' 'Chennai' 'Nagpur'
 'Visakhapatnam' 'Mumba' 'Gorakhpur' 'Kanpur' 'Chandigarh' 'Hyderabad']

In [22]:
# Question 5
import numpy as np

# Define mapping for all possible variations
bool_map = {
    "true": True, "false": False,
    "yes": True, "no": False,
    "y": True, "n": False,
    "1": True, "0": False,
    1: True, 0: False,
    True: True, False: False
}

def clean_boolean(value):
    if pd.isna(value):   # keep missing as NaN
        return np.nan
    val = str(value).strip().lower()
    return bool_map.get(val, np.nan)  # fallback to NaN if unknown

# Apply cleaning to all boolean-like columns
for col in ["is_prime_member", "is_prime_eligible", "is_festival_sale"]:
    if col in df.columns:
        df[col] = df[col].apply(clean_boolean)

# üëâ Check results
print(df[["is_prime_member", "is_prime_eligible", "is_festival_sale"]].head(20))

    is_prime_member  is_prime_eligible  is_festival_sale
0             False               True              True
1             False               True             False
2             False               True              True
3             False               True             False
4             False               True             False
5             False              False             False
6             False              False             False
7             False              False             False
8             False               True             False
9             False               True             False
10            False               True              True
11            False               True             False
12            False               True              True
13            False               True             False
14            False              False             False
15            False               True             False
16            False               True              True
17            False               True             False
18            False               True             False
19            False              False             False

In [24]:
# Question 6
# # Example mapping dictionary
category_map = {
    "electronics": "Electronics",
    "electronic": "Electronics",
    "electronics & accessories": "Electronics",
    "mobile": "Mobiles",
    "mobiles": "Mobiles",
    "smartphone": "Mobiles",
    "clothing": "Clothing",
    "apparel": "Clothing",
    "fashion": "Clothing",
    "home appliances": "Home Appliances",
    "appliance": "Home Appliances",
    "books": "Books",
    "book": "Books",
}

def clean_category(value):
    if pd.isna(value):
        return np.nan
    val = str(value).strip().lower()
    return category_map.get(val, val.title())   # fallback: Title Case

# Apply to your actual column
df["category"] = df["category"].apply(clean_category)

# üëâ Check result
print(df["category"].value_counts().head(20))

category
Electronics     1127398
Electronicss        211
Name: count, dtype: int64

In [25]:
# Question 7
import re
import numpy as np

def clean_delivery_days(value):
    if pd.isna(value):
        return np.nan
    
    val = str(value).strip().lower()

    # Handle "Same Day"
    if "same" in val:
        return 0

    # Handle ranges like "1-2 days"
    match = re.match(r"(\d+)\s*-\s*(\d+)", val)
    if match:
        low, high = map(int, match.groups())
        return (low + high) / 2   # take average

    # Extract single number if present
    match = re.search(r"\d+", val)
    if match:
        days = int(match.group())
        # Remove invalid values
        if days < 0 or days > 30:   # cap at 30
            return np.nan
        return days

    return np.nan  # fallback for unknown text

# Apply cleaning
if "delivery_days" in df.columns:
    df["delivery_days"] = df["delivery_days"].apply(clean_delivery_days)

# üëâ Check results
print(df["delivery_days"].value_counts(dropna=False).head(20))

delivery_days
3.0     288488
1.0     217298
4.0     206438
5.0     136608
2.0     126280
6.0     102668
7.0      34116
0.0       6687
1.5       4534
NaN       2317
15.0      2175
Name: count, dtype: int64

In [26]:
# Question 8
# Define the key columns that identify a unique transaction
duplicate_cols = ["customer_id", "product_id", "order_date", "final_amount_inr"]

# Find duplicates
duplicates = df[df.duplicated(subset=duplicate_cols, keep=False)]

print("üîé Total potential duplicates:", len(duplicates))
print(duplicates.head(10))

üîé Total potential duplicates: 11222
         transaction_id  order_date         customer_id   product_id  \
279   TXN_2015_00000280  2015-01-29  CUST_2015_00010848  PROD_000027
814   TXN_2015_00000815  2015-01-31  CUST_2015_00001928  PROD_000059
941   TXN_2015_00000942  2015-01-03  CUST_2015_00007653  PROD_000075
996   TXN_2015_00000997         NaN  CUST_2015_00003254  PROD_000032
1390  TXN_2015_00001391  2015-01-15  CUST_2015_00005080  PROD_001640
1577  TXN_2015_00001578  2015-01-24  CUST_2015_00002994  PROD_000063
1626  TXN_2015_00001627  2015-01-12  CUST_2015_00007323  PROD_000070
1809  TXN_2015_00001810  2015-01-31  CUST_2015_00005511  PROD_000070
1851  TXN_2015_00001852  2015-01-23  CUST_2015_00000037  PROD_000053
1999  TXN_2015_00002000  2015-01-01  CUST_2015_00008125  PROD_000060

                           product_name     category  subcategory    brand  \
279         Samsung Galaxy S6 16GB Blue  Electronics  Smartphones  Samsung
814        OnePlus OnePlus X 32GB Black  Electronics  Smartphones  OnePlus
941           Xiaomi Redmi 2 64GB White  Electronics  Smartphones   Xiaomi
996   Samsung Galaxy S6 Edge 16GB White  Electronics  Smartphones  Samsung
1390           MSI Aspire 4GB RAM Black  Electronics      Laptops      MSI
1577        OnePlus OnePlus X 32GB Blue  Electronics  Smartphones  OnePlus
1626          Xiaomi Redmi 2 16GB Black  Electronics  Smartphones   Xiaomi
1809          Xiaomi Redmi 2 16GB Black  Electronics  Smartphones   Xiaomi
1851       OnePlus OnePlus 2 32GB Black  Electronics  Smartphones  OnePlus
1999       OnePlus OnePlus X 16GB White  Electronics  Smartphones  OnePlus

      original_price_inr  discount_percent  ...      festival_name  \
279                  NaN             21.03  ...                NaN
814             57182.39              0.00  ...                NaN
941             35581.67              0.00  ...                NaN
996             97905.92              0.00  ...                NaN
1390            69584.33             12.76  ...                NaN
1577            75380.48             45.58  ...  Republic Day Sale
1626            29534.70              6.24  ...                NaN
1809            29534.70             26.41  ...                NaN
1851           102649.14             19.30  ...  Republic Day Sale
1999            94029.64              0.00  ...                NaN

      customer_rating  return_status  order_month  order_year order_quarter  \
279               4.0      Delivered            1        2015             1
814               5.0      Delivered            1        2015             1
941               NaN      Delivered            1        2015             1
996               4.0      Delivered            1        2015             1
1390              4.5       Returned            1        2015             1
1577              5.0      Delivered            1        2015             1
1626              NaN      Delivered            1        2015             1
1809              4.5      Delivered            1        2015             1
1851              5.0      Delivered            1        2015             1
1999              4.0       Returned            1        2015             1

     product_weight_kg is_prime_eligible product_rating            source_file
279               0.18              True            3.4  amazon_india_2015.csv
814               0.20              True            3.8  amazon_india_2015.csv
941               0.22             False            3.6  amazon_india_2015.csv
996               0.20              True            4.3  amazon_india_2015.csv
1390              2.66              True            3.2  amazon_india_2015.csv
1577              0.18              True            3.8  amazon_india_2015.csv
1626              0.20              True            4.2  amazon_india_2015.csv
1809              0.20              True            4.2  amazon_india_2015.csv
1851              0.20              True            4.6  amazon_india_2015.csv
1999              0.24              True            3.3  amazon_india_2015.csv

[10 rows x 35 columns]

In [29]:
# Question 9
def fix_price_outliers(df, col="final_amount_inr"):
    df = df.copy()
    
    # Group by product and calculate median price
    product_median = df.groupby("product_id")[col].median()
    
    def adjust(row):
        if pd.isna(row[col]):
            return row[col]
        
        median = product_median.get(row["product_id"], np.nan)
        if pd.isna(median) or median == 0:
            return row[col]
        
        if row[col] > 50 * median:   # too high
            return row[col] / 100
        elif row[col] < 0.01 * median:  # too low
            return row[col] * 100
        else:
            return row[col]
    
    df[col] = df.apply(adjust, axis=1)
    return df

df = fix_price_outliers(df, "final_amount_inr")
df = fix_price_outliers(df, "original_price_inr")

print(df[["product_id", "original_price_inr", "final_amount_inr"]].sample(10))

          product_id  original_price_inr  final_amount_inr
498131   PROD_000059            70431.71          92319.94
1097132  PROD_001477            21780.52          21780.52
236658   PROD_000437            41209.72          41209.72
192132   PROD_000479            30149.16          26257.43
497738   PROD_000025           105744.87          96120.23
852907   PROD_001790                 NaN          18799.50
564050   PROD_001627           166553.87         273246.46
459397   PROD_001918             7147.77           6091.63
1124498  PROD_000245            76742.30          76742.30
834860   PROD_000794            29214.34          21853.89

In [31]:
# Question 10
payment_map = {
    # UPI variations
    "upi": "UPI",
    "phonepe": "UPI",
    "googlepay": "UPI",
    "gpay": "UPI",
    "paytm upi": "UPI",
    
    # Credit Card variations
    "credit card": "Credit Card",
    "credit_card": "Credit Card",
    "cc": "Credit Card",
    
    # Debit Card variations
    "debit card": "Debit Card",
    "debit_card": "Debit Card",
    "dc": "Debit Card",
    
    # Cash on Delivery variations
    "cod": "Cash on Delivery",
    "c.o.d": "Cash on Delivery",
    "cash on delivery": "Cash on Delivery",
    
    # Netbanking
    "net banking": "Net Banking",
    "netbanking": "Net Banking",
    "internet banking": "Net Banking",
    
    # Wallets
    "amazon pay": "Wallet",
    "paytm wallet": "Wallet",
    "mobikwik": "Wallet",
}

In [32]:
def clean_payment_method(value):
    if pd.isna(value):
        return np.nan
    val = str(value).strip().lower()
    return payment_map.get(val, val.title())   # fallback: Title Case

In [33]:
if "payment_method" in df.columns:
    df["payment_method"] = df["payment_method"].apply(clean_payment_method)

# Check cleaned values
print(df["payment_method"].value_counts())

payment_method
UPI                 384228
Cash on Delivery    322831
Credit Card         172261
Debit Card          140202
Net Banking          64971
Wallet               22821
Bnpl                 20295
Name: count, dtype: int64

In [35]:
# Correct file path (no double C)
output_path = r"C:\code\Amazon_India_Analytics\data\cleaned\amazon_sales_cleaned.csv"

# Save cleaned dataset
df.to_csv(output_path, index=False)

print(f"‚úÖ Cleaned data saved at: {output_path}")

‚úÖ Cleaned data saved at: C:\code\Amazon_India_Analytics\data\cleaned\amazon_sales_cleaned.csv